body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min height */
    /* width: 100%; */
}

div #container {
	position: relative; /* needed for footer positioning*/
	height: auto !important; /* real browsers */
	min-height: 100%; /* real browsers */
}
div #header {
	padding: 1em;
	background: #efe;
}

div #content {
	padding: 0 0 5em 0; /* bottom padding for footer */
}

div #footer {
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to bottom */
	text-align: right;
  background: #333333;
  color: white;
}

.wrapper {
    padding-bottom: 10rem;    
}